
<div>
	<div id="content">
		<ul id="list">

		</ul>
	</div>
</div>
<h1 id="userName">123123</h1>

<button id="btnMove" class="btn btn-default">click</button>

<script type="text/javascript">
	
	var students=<%=raw @result%>;
	lo.initSlot(students);
</script>