
.box {
margin: 5px;
border: 1px solid #888;
font-size: 11px;
text-align: center;
line-height: 50px;
display: inline-block;
/*margin-left: 200px;*/
}

.small {
width: 50px;
height: 50px;
}

li{
	list-style: none;
}

#content{
	height: 460px;
	overflow: hidden;
}

#list{
	margin-top: 0px;
}